/*Variables!!!!*/
:root {
	--phone-display-width: 680px;
	--main-bg-color: #0a192f;
	--container-bg-color: #021a33;
	--container-border-color: #4db8ff;
	--primary-text-color: #ffffff;
	--secondary-text-color: #4db8ff;
	--padding-size: 1vh;
	--blur-radius: 100px;
	--gradient-strength: 150%;
	--link-hover-color: #0073b1;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: var(--padding-size);
}

body {
	font-family: "Courier New", Courier, monospace;
	background-color: var(--main-bg-color);
	min-height: 100vh;
	display: block;
	flex-direction: column;
	overflow-x: hidden;
}

.container {
	margin: 0 auto;
	max-width: 1600px;
	width: calc(100vw - 4 * var(--padding-size));
	height: auto;
	position: relative;
	border: 2px solid var(--container-border-color);
	border-radius: 20px;
	flex: 1;
	background: var(--container-bg-color);
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
	overflow: hidden;
}

.background-light {
	position: absolute;
	width: 30vw;
	height: 30vh;
	/*Effects*/
	filter: blur(var(--blur-radius));
	opacity: 0.7;
	/*Disable hover*/
	pointer-events: none;
	/*Position behind text*/
	z-index: 0;
}

/*Top left light*/
.background-light:nth-child(1) {
	transform: translate(50%, 50%); /* Top-left */
	background: radial-gradient(circle, rgba(0, 255, 255, 0.7), rgba(0, 0, 255, 0) var(--gradient-strength));
}

/*Bottom right light*/
.background-light:nth-child(2) {
	transform: translate(150%, 150%); /* Bottom-right */
	background: radial-gradient(circle, rgba(0, 255, 0, 0.7), rgba(0, 255, 255, 0) var(--gradient-strength));
}


header, main, footer {
	position: relative;
	border-radius: 20px;
	/*Position on top of cool background*/
	z-index: 1;
}

header {
	display: flex;
	justify-content: center;
}

footer {
	justify-content: center;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: var(--padding-size);
	background-color: var(--container-bg-color);
	color: var(--primary-text-color);
}

footer p {
	font-weight: bold;
	margin-bottom: calc(var(--padding-size) / 2);
}

footer .socials {
	display: flex;
	justify-content: center;
	gap: 20px;
}

@media (max-width: var(--phone-display-width)) {
	footer .socials {
		flex-direction: column;
		gap: 10px;
	}
}


/* Generic link styling */
a {
	color: var(--secondary-text-color);
	text-decoration: underline;
	transition: color 0.3s;
}

a:hover {
	color: var(--link-hover-color);
}


.button-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	gap: 10px;
	margin-bottom: 20px;
}

/* Button styling */
button {
	border: 2px solid var(--secondary-text-color);
	border-radius: 10px;
	background: var(--container-bg-color);
	color: var(--primary-text-color);
	text-decoration: none; /* Needed to override default button styling */
	padding: 10px 20px; /* Add padding to the button */
	cursor: pointer; /* Add pointer cursor on hover */
	transition: background 0.3s, color 0.3s;
}


button:hover {
	background: var(--secondary-text-color);
	color: var(--container-bg-color);
}


@media (max-width: 525px) {
	.button-container {
		flex-direction: column;
		align-items: stretch;
		width: 100%;
	}
}


h1 {
	color: var(--secondary-text-color);
}

p {
	color: var(--primary-text-color);
}


/* fontawesome config */
i {
	padding: 0;
}